body {
    margin: 0;
}
a{
    text-decoration: none;
}
.border-radius {
    border-radius: 12px;
    padding: 4px 14px;
    cursor: pointer;
}
.border-radius:hover {
    transform: scale(1.06);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 50px;
    border-bottom: solid 1px #8e8e94;

}
header .logo_header {
    width: auto;
    height: 22px;
  
}
header nav ul li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}
header nav ul li a {
    color: black;
    font-weight: bold;
}
header nav ul .link_connexion {
    background-color: #fff;
    color: #2d96c8;
    border-color: #2d96c8;
}
header nav ul .link_inscription {
    background-color: #2d96c8 ;
    color: #fff;
    border-width: 1px;
}
/******************************************************************/
.offre {
    display: flex;
    padding: 0 10px 0 12em;
    justify-content: center;
    height: 250px;
    overflow-y: hidden
}
.offre .offre_contenu {
    flex-direction: column;
}
.offre .offre_contenu .titre_offre {
    font-size: 34px;
    margin-top: 30px;
}
.offre .offre_contenu .titre_offre + div {
    color: #ef5466;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.offre .offre_contenu .button_offre .button_premium {
    color: #fff;
    background-color: #ef5466;
    border-color: #ef5466;
    margin-right: 20px;
    border-width: 1px;
}
.offre .offre_contenu .button_offre .button_gratuit {
    background-color: #fff;
    border-width: 2px;
}
.offre .offre_img img {
    height: 350px;
    width: auto;
    margin-left: 50px;
    object-fit:cover;
}
/***************************************************************************/


